/* ขนาดป็อปอัพ */
.swal2-popup {
  background-color: rgb(255, 255, 255); /* สีพื้นหลังของกล่องข้อความ */
  box-shadow: 5px 2px 3px#464646;
}
.custom-popup {
  background-color: rgb(255, 255, 255); /* สีพื้นหลังของกล่องข้อความ */
  box-shadow: 5px 2px 3px#464646;
  width: 500px;
  height: 390px;
}

/* หัวข้อ */
.swal2-title {
  font-size: 24px; /* ขนาดตัวอักษร */
  font-family: "Noto Sans Thai Looped", sans-serif;
  color: #000000; /* สีตัวอักษร */
}

/* ชื่อผู้ใช้ */
.custom-text {
  font-size: 1em; /* ปรับขนาดตัวอักษรตามต้องการ */
  font-weight: bold; /* ใช้หนาหรือปกติ */
}
.swal2-html-container {
  font-family: "Noto Sans Thai Looped", sans-serif;
  font-weight: bold;
  color: #000000; /* สีตัวอักษร */
}

/* ปุ่่ม*/
.custom-icon {
  font-size: 1.2em;
}
.custom-button {
  width: 100px;
}
.custom-tvc {
  width: 225px;
  height: 50px;
}
.swal2-confirm {
  background-color: #0b00a0; /* สีพื้นหลัง */
  color: rgb(255, 255, 255); /* สีตัวอักษร */
  font-size: 16px; /* ขนาดตัวอักษร */
  padding: 10px;
  border: none;
  outline: none; /* ลบกรอบที่แสดงเมื่อปุ่มถูกคลิก */
  box-shadow: none; /* ลบเงาของปุ่ม */
}
/* ฟ้อนภาษาไทย */
.noto-sans-thai-looped-regular {
  font-family: "Noto Sans Thai Looped", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*  */
.navbar-nav {
  margin-top: 10px;
}
.d-flex {
  margin-left: 1200px;
}
